input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(24,24,24);
  color: rgb(240,240,240);
}

.headline {
  position: relative;
  z-index: 10;
  margin: auto;
  height: 100%;
  width: 960px;
}

.headline > h1 {
  display: inline-block;
  position: relative;
  bottom: -10px;
}

header h1 {
  margin: 0;
}

/* 
  top menu controls 
*/

nav.game-menu {
  position: relative;
  float: right;
  width: 25%;
  height: 100%;
}

nav.game-menu ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav.game-menu ul li {
  display: inline-block;
  text-align: center;
/*  vertical-align: middle;*/
  -webkit-box-sizing: border-box;
  color: white;
  cursor: pointer;
  float: left;
  width: 50%;
  height: 100%;
  line-height: 50px;
  list-style-type: none;
  border-right: 1px solid gray;
}

nav.game-menu ul li:first-child {
  border-left: 1px solid gray;
}

nav.game-menu ul li.game-settings {
  background-image: url("../img/icons/icon_10135/icon_10135_white.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50%;
}

nav.game-menu ul li {

}

.select-new-puzzle {
/*  display: inline-block;
  position: relative;
  width: 75%;
  height: 100%;*/
}

.select-new-puzzle:after {
  content: "New puzzle";
}

.game-settings {
  
/*  display: inline-block;
  float: right;*/
/*  width: 50px;*/
/*  height: 100%;*/
  /*background-color: red;*/
}

/*
  Menu dropdown styles
*/

.game-menu-options {
  position: absolute;
  right: 0;
  top: 50px;
  width: 25%;
}

#game-settings-options, 
#select-puzzle-options {
  background-color: black;
  display: none;
  z-index: 5;
  line-height: 40px;
}

input[type="radio"].toggle-select-list + label {
  -webkit-box-sizing: border-box;
  display: block;
/*  background-color: rgb(200,200,200);*/
  border-bottom: 1px solid gray;
  text-align: center;
}

input[type="radio"].toggle-select-list + label:last-of-type {
  border-bottom: none;
}

input[type="radio"].select-option:checked + label {
  background-color: rgb(100,100,100);
}

#game-settings-options > p {
  cursor: pointer;
}

#game-settings-options p {
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 0;
  border-bottom: 1px solid gray;
}

.board-display-options {
  width: 90%;
  margin: auto;
}

#game-settings-options label {
  display: inline-block;
  float: right;
  height: 40px;
  width: 85%;
}

#game-settings-options input {
  display: inline-block;
  margin: 0;
  float: left;
  height: 40px;
  width: 15%;
}

.difficulty {
  text-transform: capitalize;
}

.caret {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.caret:hover {
  -webkit-transform: rotate(90deg);
}

main {
  /*background-color: rgb(200,200,200);*/
  /*width: 80%;*/
  width: 960px;
  /*height: 720px;*/
  margin: 2% auto 0 auto;

}

/*
  Sidebar controls/display styles
*/

section {
  float: left;
  width: 25%;
  /*background-color: blue;*/
}

#game-details,
#game-controls {
  float: right;
}

#game-details label,
#game-controls label,
#game-controls button {
  font-family: serif;
  text-align: center;
  font-size: 1.25em;
}

section p {
  margin: 0;
}

.difficulty-display,
.timer-wrapper,
.hint,
.medium-toggle {
  /*width: 100%;*/
  position: relative;
  background-color: rgba(220,220,220,0.4);
  margin-bottom: 10px;
}

.difficulty-display,
.timer-display {
    padding: 10px 0;
}


.difficulty-display span,
.timer span {
  display: block;
  font-size: 2em;
  text-align: center;
}

.hint button {

  width: 100%;
  border-radius: 0;
  border: 0;
  border-bottom: 5px solid rgb(100,100,100);
  background-color: rgb(200,200,200);
  outline: none;
}

input[type="checkbox"].toggle,
input[type="radio"].toggle-select,
input[type="radio"].toggle-select-list {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

label,
button
{ 
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

.timer label:after {
  content: "Start";
}


.close-timer,
.show-timer,
.close-rules-modal,
.play-game {
  cursor: pointer;
}

.close-timer {
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("../img/icons/icon_51740/icon_51740.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(200,200,200);
}

.show-timer {
  background-color: rgba(200,200,200, 1.0);
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
}

input[type="checkbox"].toggle + label {
  display: block;
  background-color: green;
  border-bottom: 5px solid rgb(0,100,0);
}

input[type="checkbox"].toggle:checked + label:after {
  content: "Stop";
}

input[type="checkbox"].toggle:checked + label {
  background-color: red;
  border-bottom: 5px solid rgb(100,0,0);

}

input[type="radio"].toggle-select + label {
  float: left;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 50%;
  background-color: rgb(200,200,200);
  border-bottom: 5px solid rgb(100,100,100);
}

input[type="radio"].toggle-select-left:checked + label {
  background-color: rgb(100,100,100);
  border-bottom: 5px solid rgb(50,50,50);
}

input[type="radio"].toggle-select-right:checked + label {
  background-color: rgb(100,100,100);
  border-bottom: 5px solid rgb(50,50,50);
}

/*
  Sudoku Board Styles   
*/

.cell {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: rotateX(0);
  -webkit-transition: -webkit-transform 1s ease;
}

.win {
  -webkit-transform: rotateX(180deg);
    border-radius: 50%;
  /*background-color: rgba(208,78,171,0.18263327749446034);*/
}

.win h1 {
  position: absolute;
  top: -25%;
  left: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(-180deg);
}

.conflict {
  background-image: url("../img/icons/icon_51740/icon_51740.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hint-overlay {
  background-color: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  word-wrap: break-word;
}

.clash {
  background-color: rgba(255,100,100,0.4);
}

#puzzle {
  width: 74%;
  margin-right: 1%;
  float: left;
}

table {
  width: 100%;
  height: inherit;
  border-spacing: 0;
}

#soduku-board input {
  height: 98%;
  width: 98%;
  border: none;
  margin: auto;
  text-align: center;
  font-size: 2em;
  background-color: rgba(255,255,255,0);
}

tr {
  -webkit-box-sizing: border-box;
}

/* Horizontal borders */

tr:nth-child(3n+1) > td {
  border-top: 2px solid black;
  border-bottom: 1px solid gray;
}

tr:nth-child(3n+2) > td {
  border-bottom: 1px solid gray;
} 

tr:last-child > td { 
  border-bottom: 2px solid black;
}

/* vertical borders */

td:nth-child(3n+1) {
  border-left: 2px solid black;
  border-right: 1px solid gray;
}

td:nth-child(3n+2) {
  border-right: 1px solid gray;
}

td:last-child {
  border-right: 2px solid black;
}

.pen {
  color: blue;
}

.pencil {
  /*maybe use thinner font-family*/
  color: rgb(200,200,200);
}

.show-hint {
  color: rgb(255,0,0);
}

/*
  Rules description
*/

#game-rules {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto;
  background-color: rgba(50,50,50,0.8);
  z-index: 15;
  overflow: auto;
}

.rules-container {
  position: relative;
  width: 720px;
  margin: 75px auto 10px auto;
  /*overflow: auto;*/
}

.rules-container table {
  width: 100%;
  margin: auto;
  background-color: white;
}

.rules-container td {
  font-size: 2em;
  text-align: center;
}

.rules-content h1 {
  position: absolute;
  height: 78px;
  width: 314px;
  top: 0;
  left: 0;
  padding-left: 5px;
  margin: 2px 0 0 2px;
  background-color: rgba(50,50,50,0.9);
  color: white;
  font-size: 3em;
}

.rules-body {
  position: absolute;
  width: 614px;
  height: 458px;
  margin: 2px 0 2px 2px;
  padding: 10px;
  bottom: 0;
  left: 0;
  background-color: rgba(50,50,50,0.9);
  color: white;
  font-size: 1.5em;
}

.close-rules-modal {
  position: absolute;
  top: -15px;
  right: -15px;
  background-image: url("../img/icons/icon_51740/icon_51740.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(200,200,200);
}

.play-game {
  color: rgba(100,255,100, 0.8);
}

.play-game:hover {
  color: rgb(100,100,100);
}

/* clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@media screen and (max-width: 960px) {

  main {
    width: 100%;
    margin: 0;
    overflow: auto;
  }

  nav {
    width: 100px;
  }

  .select-new-puzzle {
    float: right;
    width: 50px;
    background-image: url("../img/icons/icon_10155/icon_10155_white.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .select-new-puzzle:after {
    content: "";
  }

  .select-puzzle-options,
  .game-settings-options {
    width: 48%;
  }

  .game-menu-options {
    width: 48%;
  }
  .headline {
    width: 90%;
  }

  #puzzle {
    width: 90%;
    margin-right: 0;
    float: none;
    margin: auto;
  }

  #game-details,
  #game-controls {
    /*position: relative;*/
    float: none;
    margin: 1.5% auto;
    width: 90%;
  }

  .difficulty-display,
  .medium-toggle{
    margin: 0;
    float: left;
    width: 48%;
    /*padding: 2%;*/
  }

  .timer-wrapper,
  .hint {
    margin: 0;
    float: right;
    width: 48%;
  }

  .timer-display {
    width: 75%;
    float: left;
  }

  .timer label {
    position: absolute;
    width: 25%;
    /*float: right;*/
    bottom: 0;
    right: 0;
    background-image: url("../img/icons/icon_282/icon_282_thick.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .timer label:after {
    content: "";
  }

  input[type="checkbox"].toggle:checked + label:after {
   content: "";
  }

  .close-timer {
    top: 0;
    right: 0;
    border-radius: 0;
    width: 25%;
  }

  .rules-container {
    width: 95%;
    margin: 20% auto 2% auto;
    /*overflow: auto;*/
  }


.rules-content h1 {
  height: 11%;
  width: 43.5%;
  padding-left: 1%;
  margin: 2px 0 0 2px;
}

.rules-body {
  width: 86%;
  height: 64.2%;
  margin: 2px 0 2px 2px;
  padding: 1.1%;
}

.close-rules-modal {
  position: absolute;
  top: -15px;
  right: -15px;
  background-size: 25px 25px;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 750px) {
  .rules-content h1 {
    font-size: 2em;
  }

  .rules-body {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {
  .rules-content h1 {
    font-size: 2em;
  }

  .rules-body {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {

  .rules-content h1 {
    font-size: 1.5em;
  }

  .rules-body {
    font-size: 0.8em;
  }
}

}